.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;

    &--centered {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &--content-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width: 1485px) {
    .container {
        max-width: 1000px;

        &--content-grid {
            gap: 1rem;
        }
    }
}

@media (max-width: 1120px) {
    .container {
        max-width: 800px;
    }
}

@media (max-width: 950px) {
    .container {
        max-width: 600px;
    }
}

@media (max-width: 780px) {
    .container {
        max-width: 400px;

        &--content-grid {
            display: flex;
            flex-direction: column;
        }
    }
}

@media (max-width: 670px) {
    .container {
        max-width: 330px;
    }
}
