.gallery {
    display: grid;

    &--categories {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 2rem;
        margin-top: 3rem;
    }

    &--reviews {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto;
        gap: 2rem;
        align-items: center;
    }
}

.swiper {
    overflow: visible !important;
}


@media (max-width: 950px) {
    .gallery {
        &--categories {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
            gap: 2rem;
            margin-top: 3rem;
        }
    }
}

@media (max-width: 780px) {
    .gallery {
        &--reviews {
            grid-template-columns: auto auto auto;

            > :nth-child(3) {
                display: none;
            }
        }
    }
}
