.gallery {
    display: grid;

    &--categories {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 2rem;
        margin-top: 3rem;
    }

    &--reviews {
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 2rem;
        align-items: center;
    }
}

.swiper {
    overflow: hidden;
    width: 900px;

    &-slide {
        height: auto;

        .card {
            min-width: unset;
            width: 100%;
        }
    }
}

@media (max-width: 1120px) {
    .swiper {
        width: 700px;
    }
}

@media (max-width: 950px) {
    .gallery {
        &--categories {
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;
        }
    }

    .swiper {
        width: 350px;
    }
}

@media (max-width: 780px) {
    .swiper {
        width: 300px;
    }
}

@media (max-width: 500px) {
    .swiper {
        width: 280px;
    }
}