.hero {
    display: flex;
    align-items: center;

    &__motto {
        font-size: 24px;
        font-family: "Jost-Regular", sans-serif;

        &--title {
            font-family: "Jost-ExtraBold", sans-serif;
            font-size: 124px;
            max-width: 597px;
            line-height: 140px;
            color: var(--color-primary);
        }

        &--slogan {
            max-width: 470px;
            padding: 40px 0;
            color: var(--color-secondary)
        }
    }

    &__image {
        position: relative;
    }

    &__cup {
        width: 678.25px;
        height: 712px;

        &-wrapper {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                width: 139.94px;
                height: 113px;
                top: 30px;
                right: 30px;
                background-image: url('../../../assets/images/award.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &__tag {
        background-color: var(--color-bg-default);
        border-radius: 24px;
        display: grid;
        grid-template-rows: auto auto;
        padding: 5px 30px;
        position: absolute;
        top: 400px;
        right: 350px;
        z-index: 2;
        min-height: 100px;
        align-items: center;
    }

    &__rating {
        display: flex;
        gap: 5px;
        height: 30px;
        align-items: center;
    }

    &__description {
        max-width: 232px;
        font-size: 19px;
        color: var(--color-secondary);
    }
}

@media (max-width: 1485px) {
    .hero {
        &__cup {
            width: 500px;
        }

        &__rating {
            font-size: smaller;
        }

        &__description {
            max-width: 250px;
            font-size: 14px;
        }

        &__motto {
            font-size: 20px;

            &--title {
                font-size: 100px;
                max-width: 560px;
                line-height: 120px;
            }
        }
    }
}

@media (max-width: 1120px) {
    .hero {
        &__cup {
            width: 400px;
            height: 500px;
        }

        &__rating {
            font-size: smaller;
        }

        &__description {
            max-width: 230px;
            font-size: 12px;
        }

        &__motto {
            font-size: 16px;

            &--title {
                font-size: 80px;
                max-width: 530px;
                line-height: 100px;
            }
        }

        &__tag {
            grid-template-rows: auto auto;
            padding: 5px 30px;
            position: absolute;
            top: 300px;
            right: 200px;
            min-height: 80px;
        }

        &__rating {
            display: flex;
            gap: 3px;
            height: 20px;
        }

        &__cup {
            &-wrapper {
                &::after {
                    content: '';
                    position: absolute;
                    width: 139.94px;
                    height: 113px;
                    top: 30px;
                    right: 30px;
                    background-image: url('../../../assets/images/award.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .hero {
        &__tag {
            display: none;
        }

        &__cup {
            width: 300px;

            &-wrapper {
                &::after {
                    content: '';
                    position: absolute;
                    width: 100px;
                    height: 113px;
                    top: 55px;
                    right: -10px;
                }
            }
        }

        &__motto {
            font-size: 14px;

            &--title {
                font-size: 60px;
                line-height: 80px;
            }

            &--slogan {
                padding: 30px 0;
            }
        }
    }
}

@media (max-width: 780px) {
    .hero {
        &__motto {
            font-size: 12px;

            &--title {
                font-size: 50px;
                line-height: 50px;
            }

            &--slogan {
                max-width: 470px;
                padding: 40px 0;
                color: var(--color-secondary)
            }
        }

        &__cup {
            display: none;

            &-wrapper {
                &::after {
                    width: 70px;
                    top: -50px;
                    right: 30px;
                }
            }
        }
    }
}
