.media {
    &--cups {
        grid-column: 1 / 2;
        grid-row: 1 / 4;
    }
}

@media (max-width: 1485px) {
    .media {
        &--cups {
            width: 630px;
        }
    }
}

@media (max-width: 1120px) {
    .media {
        &--cups {
            width: 450px;
        }
    }
}

@media (max-width: 950px) {
    .media {
        &--cups {
            width: 350px;
        }
    }
}
