.section {
    position: relative;
    background-color: var(--color-bg-defaut);

    &__hero {
        display: flex;
        justify-content: space-between;
        padding: 60px 0;
    }

    &:not(:first-of-type) {
        padding: 80px 0;
    }

    &:first-of-type {
        background-color: var(--color-neutral);
    }

    &__title {
        font-family: "Jost-ExtraBold", sans-serif;
        font-size: 64px;
    }

    &__text {
        font-size: 24px;
        color: var(--color-secondary);
        line-height: 1.5;
        margin: 1rem 0;

        &--explore {
            max-width: 604px;
        }

        &--order {
            max-width: 512px;
        }
    }

    &__common-rate {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 20px;
        padding: 60px 0;
    }

    &__mark {
        grid-row: 1/3;
        font-size: 40px;
        font-family: 'Jost-Semibold';
    }

    &__rating-based {
        color: var(--color-secondary);
        font-size: 20px;
    }
}

@media (max-width: 1485px) {
    .section {
        &__hero {
            display: flex;
            padding: 60px 0;
            gap: 10px;
        }

        &:not(:first-of-type) {
            padding: 60px 0;
        }

        &__title {
            font-size: 50px;
        }

        &__text {
            font-size: 18px;
        }
    }
}

@media (max-width: 950px) {
    .section {
        &:not(:first-of-type) {
            padding: 50px 0;
        }

        &__title {
            font-size: 40px;
        }

        &__common-rate {
            padding: 40px 0;
        }

        &__mark {
            font-size: 35px;
        }

        &__rating-based {
            font-size: 16px;
        }
    }
}

@media (max-width: 670px) {
    .section {
        .hero {
            height: 550px;
        }
    }
}

@media (max-width: 780px) {
    .section {
        &__hero {
            gap: 0;
        }

        &__title {
            text-align: center;
        }
    }
}