@mixin button-base {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    cursor: pointer; 
    font-family: inherit;
    
}

@mixin button-primary($font-size) {
    background-color: var(--color-primary);
    color: var(--color-text-buttons);
    border: none;
    font-family: 'Jost-Medium', sans-serif;
    font-size: $font-size;
    padding: 15px 30px;
    border-radius: 63px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    &:hover {
        background-color: var(--color-secondary);
    } 
}

@mixin button-secondary($font-size) {
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    font-family: 'Jost-Medium', sans-serif;
    font-size: $font-size;
    padding: 15px 30px;
    text-decoration: underline;
}

@mixin button-small ($width, $height) {
    background-color: var(--color-small-button);
    width: $width;
    height: $height;
    border: none;
    border-radius: 100%;
}

@mixin button-small-shadow($width, $height) {
    @include button-small($width, $height);
    box-shadow: 0 12px 30px var(--color-small-button-shadow);
}

@mixin card {
    position: relative;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 30px 60px var(--color-shadow);
    border-radius: 24px;
}

@mixin input-field($width, $height, $placeholder-size) {
    width: $width;
    height: $height;
    box-shadow: 0 30px 60px var(--color-shadow);
    border-radius: 65px;
    font-family: 'Jost-Regular', sans-serif;
    font-size: 22px;
    border: none;

    &::placeholder {
        color: var(--color-secondary);
        font-family: 'Jost-Regular', sans-serif;
        font-size: $placeholder-size;
        line-height: 30px;
        padding: 0 40px;
    }
}